@import "table.css";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100wh;
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

.page-content {
    padding: 50px 30px 30px 30px;
}

.story-description {
    max-width: 50%;
    margin: 0 20px;
}

.title-container {
    display: flex;
    justify-content: center;
}

.image-container {
    width: 281px;
    position: relative;
    float: left;
    max-width: 100%;
    clear: left;
    margin-right: 40px;
}

.story-img {
    height: 300px;
    width: 300px;
}


  
